body{
    /* background:rgb(180, 186, 197); */
    background: url("../images/imgpng.png") no-repeat center fixed;
}
/*
.logo{
    background-image: url("../images/imgpng.png");
    width: 200px;
    opacity: 0.3;
    background-attachment: fixed;
} */

img{
width: 400px;
}