body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    color: black;
    font:italic small-caps bold 13px/30px 'noto Sans KR;'
}

.a {
    font-family: 'Noto Sans KR', sans-serif;
}

.b {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 500;
}

.c {
    font-family: 'Dongle', sans-serif;
    font-size: 26px;
}